*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    background:url("background.png") fixed center ;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat    ;
    /* background-color: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%); */
    
    
}

.nav-main-email{
    width: 100%;
    height: 5rem;
    background-color: transparent   ;
    display: flex;
    
    
}

.main-container{
    /* width: 100%;  */
    height: 200vh;
    background-color:transparent;
   
    
   
    
}

.monkey{
    background-size: contain;
    position: absolute;
    top: 10px;
    cursor: pointer;
    left: 1px;
    max-width: 12%;
    transition: all 1s ease/*cubic-bezier(.9, 1.01, 1, -0.68)*/;
    transform: translate(1px, 70px)
    
}
.monkey:hover{
    transform: translateY(-5cm);
    
    
}


.email     {
    width: 30%;
   
    display: flex;
    justify-content:space-around ;
    align-items: center;
    background-color: rgb(41, 40, 40);;
    border-radius: 15px;
}

.email a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
}
.gapdiv{
   width: 5%;
   
}

.main-navbar{
    height: 5rem;
    width: 55%;
    background-color:rgb(41, 40, 40);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.nav-anc{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
    
}
.nav-anc:hover {
    color:rgb(11, 241, 230);
    transform:translateY(-8px);
    
   
}
#hi{
    color: white;
    padding-right:10px;
    font-size:25px;
}
#hi :hover {
    color:orange;
}
.home-main-container{
    height: 80vh;
    /* width: 100%;     */
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    
    
}

 
.content h1{
    
    font-size: 50px;
   font-style: italic;
   color: rgb(11, 241, 230);
    
}
.content h2{
    
    font-size: 50px;
   font-style: italic;
   color: white;
    
}
.content p{
    font-weight: 500;
    font-size: 25px;
    padding-top: 2rem;
    max-width: 800px;
    line-height: 50px;
    word-spacing: 10px;
    color: white;
    
    
}
.profile{
    width: 400px;
    height: 470px;
    border-radius: 40px;
    object-fit: cover;
    box-shadow: 0 0 3px 0.9;

}

.dash{
    height: 5px;
    background-color: #403d39;
    border-radius: 8px;
}
.aboutme{
    height: auto;
    /* width: 100%;     */
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 20PX;
    margin-top: 100PX;
}

#about-me{
  
    font-weight: 500;
    font-size: 25px;
    padding-top: 2rem;
    max-width: 800px;
    
    color: white;
    line-height: 25px;
    word-spacing: 5px;
  
}

#about-me p{
    line-height: 50px;
}
#one{
    line-height: 50px;
}
#about-me h2{
    font-size: 50px;
   font-style: italic;
   color: rgb(11, 241, 230);

}
#aboutme ul li{
    margin-bottom: 10px;
}
.skills{
    height: 90vh;
    background-color: transparent;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 

}
.skills-main h2{
    font-size: 50px;
   font-style: italic;
   color: rgb(11, 241, 230);
}

.skills-main i{
    font-size: 100px;
    color: red;
    padding: 25px;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
    

}
.skills-main i:hover{
    transform: translateY(-10px);
}

#contact a{
    height: auto;
    width: auto;
    color:red;
    font-size: 70px;
}
.linkedin{
    display: flex;
}
#contact a{
    color: red;
    margin-right: 20px;
}
.contact-details{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact{
    height: 80%;
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.skill-main .innerdiv>a>i{
    font-size: 80px;
    color: red;
    padding-left: 20px;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
}

.linkedin{
    height: 80vh;
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.innerdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin h1{
    color: rgb(11, 241, 230);
    font-size: 50px;
    font-style: italic; 
    margin-bottom: 20px;
}

.projects-main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects11{
    height: 70vh;
    /* border: 4px solid red; */
    width: 80%;
    background-size: cover;
    z-index: -1;
    background-repeat:no-repeat;
    animation: change 20s infinite ;
    
}
@keyframes change {
    0%{
        background-image: url(GRP.png);
    }
    25%{
        background-image: url(RockPaper.png);
    }
    50%{
        background-image: url(quizblack.png);
    }
    75%{
        background-image: url(notes.png);
    }
    100%{
        background-image: url(currency.png);
    }
    
}

.main-Projects-container{
    height: 80vh;
    width: 100%;
}


/* .projects11>img{
    height: inherit;
    width:100%;
    color: white;
    background-size: contain;
    border-radius: 15px;
    animation: transform;
} */

.nav-anc1{
    cursor: pointer;
    transition: transform 2s ease;
}
.nav-anc1 :hover{
    transform: scale(1.1);
    color:rgb(11, 241, 230);
}
.messagebox{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.butt1{

    height: 60px;
    width: 70%;
    background-color: rgb(52, 50, 50);
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding-left: 15px;
    font-size: x-large; 
    
}
form{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50PX;
}
.messagebox form input{
    margin-bottom: 20px;
}
.messagebox form textarea{
    height: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    
}
.messagebox form button{
    height: 60px;
    width: 72%;
    color: rgb(11, 241, 230);;
}
.comingsoon{
    height: auto;
    font-size: 50px;
    color: #161615;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: rgb(41, 40, 40);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.footer select{
    height: 50px;
    width: 150px;
    background-color: transparent;
    color:white;
    border: 3px solid grey;
    border-radius: 10px;
    font-size: x-large;
    margin-right: 20px
}
.icons{
    color: white;
    font-size: x-large;
    margin-right: 5px;
}
.footer {
    color: white;
    margin-left:10px ;
    font-size: 30px;
}
@media only screen and (max-width: 768px) {
    body {
        background-size: cover;
        padding: 0;
    }

    .nav-main-email {
        flex-direction: column;
        height: auto;
    }
    
    .main-navbar {
        flex-direction: row; 
        width: 100%;
        justify-content: space-around; 
        margin-bottom: 20px;
    }

    .nav-anc {
        padding: 10px;
        font-size: 15px;
    }

    .email {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .email a {
        font-size: 18px;
    }

    .home-main-container {
        flex-direction: row; 
        justify-content: center;
        align-items: center; 
        height: auto;
        padding: 30px;
    }

    .monkey {
        max-width: 30%; 
        transform: translate(0, 20px);
        margin-right: 20px; 
    }

    .content {
        text-align: left;
        padding-top: 100px;
        height: 40vh; 
        max-width: 100%; 
    }

    .content h1, .content h2 {
        font-size: 30px;
    }

    .content p {
        font-size: 15px;
        line-height: 2;
    }

    .video .live-photo {
        display: none;
    }

    .aboutme {
        flex-direction: column;
        height: auto;
        
    }

    #about-me {
        font-size: 18px;
        padding: 20px;
        height: auto    ;
    }

    #about-me h2 {
        font-size: 30px;
    }

    .skills {
        flex-direction: column;
        height: 80vh;
        padding: 20px;
    }

    .skills-main i {
        font-size: 50px;
    }

    .contact-details {
        flex-direction: column;
        height: 90vh;
        width: 100%;
    }
    .linkedin h1{
        width: 80%;
    }
    .linkedin .innerdiv{
        width: 80%;
        height: auto;
    }
    

    .linkedin, .messagebox {
        width: 100%;
    }
    .messagebox form {
        padding-bottom:70px ;
    }
   
    .messagebox form input{
        width: 80%;
    }
    .messagebox form textarea{
        width: 80%;
    }
    .messagebox form button{
        width: 85%;
        
    }
    .footer {
        height: auto;
        text-align: center;
        padding: 20px;
    }
    .footer p {
        font-size: 15px;
    }

    .footer select {
        width: 80px;
        font-size: small;
        height: 30px;
        margin: 5px 0;
    }
}
